extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 

block main 
  .container.my-3 
    include ../../partials/list-btn-user.pug 

    .row 
      .col-12 
        +box-head('Danh sách người dùng')
    
    .row 
      each user in users 
        .col-6 
          .box-user
            .inner-avatar
              img(src=(user.avatar ? user.avatar : "/images/avatar.jpg"), alt=user.fullName)

            .inner-info 
              .inner-name #{user.fullName}
              .inner-buttons 
                button(class="btn btn-sm btn-primary mr-1" btn-accept-friend=user.id) Xác nhận 
                button(class="btn btn-sm btn-secondary mr-1" btn-refuse-friend=user.id) Từ chối 
                button(class="btn btn-sm btn-secondary mr-1" btn-deleted-friend=user.id) Đã xóa 
  
  script(src="/js/user.js")
