extends ../../layouts/default.pug 
include ../../mixins/box-head.pug 

block main 
  .container.my-3 
    include ../../partials/list-btn-user.pug 

    .row 
      .col-12 
        +box-head('Danh sách bạn bè')
    
    .row(data-users-friend=user.id)
      each user in users 
        .col-6(user-id=user.id)
          .box-user
            .inner-avatar
              img(src=(user.avatar ? user.avatar : "/images/avatar.jpg"), alt=user.fullName)

            .inner-info 
              .inner-name #{user.fullName}
            
              .inner-buttons 
                a(href=`/chat/${user.room_chat_id}` class="btn btn-sm btn-primary mr-1") Nhắn tin 
              
            .inner-status(status=user.onlineStatus)
              i(class="fa-solid fa-circle")

